<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">        
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="css/styles.css">
        <title>Registrate en Mercado Liebre</title>
    </head>
    <body>
      <header>
        <div class="header-top-bar">                
            <div class="header-top-logo-left">
                <a href="/">
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" class="header-logo">
                </a> 
            </div>
            <form action="/search" method="POST" class="header-top-form">
                <input type="search" name="searchbar" aria-label="Buscar productos, marcas y más" class="input">
                <button type="submit" class="submit">
                    <i class="fa fa-search"></i>
                </button>                    
            </form>                
            <h2 class="header-top-promo-right">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <div class="header-bottom-bar">
            <nav class="header-navbar-main">
                <ul class="header-bottom-navbar-left">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="header-bottom-navbar-right">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="header-bottom-burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
      <main>        
        <div class="register-main">
          <!-- Formulario -->
          <form action="" method="POST" class="register-main-form">
            <div class="register-main-shadow">
              <section>
                <div>
                  <label>Datos del Usuario(*)</label>
                </div>         
                <!-- nombre y apellido -->
                <div>
                  <input class="register-main-inputBox" type="text" name="nameAndSurname" minlength="5" required placeholder="Nombre y apellido">
                </div>          
                <!-- nombre de usuario -->     
                <div>
                  <input class="register-main-inputBox" type="text" name="username" placeholder="Elegí un nombre de usuario"required>
                </div>            
                <div>
                  <!-- dirección de email -->     
                  <input class="register-main-inputBox" type="email" name="email" placeholder="E-mail" required>
                </div>
              </section>
              <section>
                <!-- fecha -->
                <label>Fecha de nacimiento(*)</label>
                <div>
                  <input class="register-main-inputBox" type="date" name="birthday" placeholder="dd/mm/yyyy" required>
                </div>
              </section> 
              <!-- domicilio -->
              <section>
                <label>Domicilio(*)</label>
                <div>         
                  <input class="register-main-inputBox" type="text" name="address" placeholder="Domicilio" required>
                </dir> 
              </section>
              <section>
                <!-- comparar o vender (RADIO) -->
                <label>Perfil de usuario</label>
                  <div class="register-main-radioOptions"> 
                    <div class="register-main-profile">         
                      <input type="radio" name="buyer">
                      <p>Comprador</p>
                    </div>
                    <div class="register-main-profile">
                      <input type="radio" name="seller">
                      <p>Vendedor</p>
                    </div>
                  </div> 
              </section>
              <section>
                <!-- categorías (CHECKBOX) -->
                <label>Intereses</label>
                <div class="register-main-checkOptions">
                  <div class="register-main-checkbox">
                    <input type="checkbox" name=electro>
                    <p>Electro</p>
                  </div>
                  <div class="register-main-checkbox">
                    <input type="checkbox" name=moda>
                    <p>Moda</p>
                  </div>
                  <div class="register-main-checkbox">
                    <input type="checkbox" name=hogar>
                    <p>Hogar</p>
                  </div>
                  <div class="register-main-checkbox">
                    <input type="checkbox" name=jugueteria>
                    <p>Juguetería</p>
                  </div>
                  <div class="register-main-checkbox">
                    <input type="checkbox" name=vidaSana>
                    <p>Vida Sana</p>
                  </div>
                </div>
              </section>
              <!-- foto type="file" accept=".jpg" -->
              <section>
                <label>Cargá tu foto</label>
                <div class="register-main-loadPhoto">
                  <input type="file" name=photo accept=".jpg .png">
                </div>
              </section>
              <section>
                <label>Contraseña(*)</label>
                <div>
                  <input class="register-main-inputBox" type="password" name="password" placeholder="Ingrese una contraseña" required>
                </div>
              </section>
              <section>
                <label>Confirmar contraseña(*)</label>
                <div>
                  <input class="register-main-inputBox" type="password" name="recheckPassword" placeholder="Ingrese de nuevo la contraseña" required>
                </div>
              </section>
            </div>            
            <div class="register-main-sendButton">            
              <button type="submit">Registrarse</button>
            </div>              
          </form>
        </div>
      </main>
      <footer>            
        <section class="last">
            <article>
                <div class="promotion">
                    <div class="fa-footer">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <h3>Pagá con tarjeta o en efectivo</h3> 
                    <p>Con Mercado Liebre Cash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!.</p>
                </div>
            </article>
            <article>
                <div class="promotion">
                    <div class="fa-footer">
                        <i class="fas fa-gift"></i>
                    </div>
                    <h3>Envío gratis desde los $2.500</h3>     
                    <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>  
                </div>
            </article>
            <article>
                <div class="promotion">
                    <div class="fa-footer">
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <h3>Seguridad de principio a fin</h3>
                    <p>¿No te gusta?¡Devolvelo! En Mercado Liebre no hay nada que no puedas hace porque estás siempre protegid@.</p> 
                </div>
            </article>            
        </section>
        <p class="copyright">Copyright © 1999-2021 Mercado Liebre S.R.L.</p> 
    </footer>
    </body>
</html>
